@import './scss/config';
@import './scss/menu';
@import './scss/mobile';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
    height: 100vh;

    h1, h2, h3, h4 {
        font-family: 'Montserrat', sans-serif;
    }
}


.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.7);
    border-bottom: 4px solid $primary-color;

    &-nav {
        
        .nav-items {
            display: flex;
            // flex-direction: row;
            list-style: none;
            width: 100%;
            justify-content: center;
            
            li {
                margin: 0 1rem;
                padding: 1rem;

                a {
                    color: $secondary-color;
                }
                a:hover {
                    padding: 0.5rem;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
                    color: $secondary-color;
                    background-color: $primary-color;
                }

                &.active {
                    a {
                        padding: 0.5rem;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
                        color: $secondary-color;
                        background-color: $primary-color;
                    }
                }

            }
        }
    }
}//end navbar



section#home {
    background: url('./images/assets/3px-tile.png') repeat center;
    background-color: $primary-color;
    

    .welcome {
        background: url('./images/assets/3px-tile.png') no-repeat center center/cover;
        max-width: 80%;
        padding: 25px;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        color: $accent-color;
        animation: 1s ease-out 0s 1 slideInFromLeft;

        @include mediaMd {
            flex-flow: row wrap;
        }
        @include mediaSm {
            flex-flow: row wrap;
        }
        
        &.show {
            //SLIDE IN FROM RIGHT
            transform: translate3d(0, 0, 0);
        }

        .home-img {
            height: 350px;
            width: 350px;
            border: 10px solid $accent-color;
            border-radius: 50%;

            @include mediaMd {
                height: 275px;
                width: 275px;
            }
            @include mediaSm {
                height: 150px;
                width: 150px;
            }
        }

        .welcome-msg {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;  

            @include mediaMd {
                h1 {
                    font-size: 3rem;
                }
            }
            @include mediaSm {
                h1 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.4rem;
                }
            }

            .social-links {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                padding: 10px;

                a {
                    color: $accent-color;
                }

                a:hover {
                    color: $secondary-color;
                }

                i {
                    font-size: 3.3rem;
                }

                i:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

section#about {   
    height: 100vh;

    .about-content {
        padding: 3px;
        margin: auto;
        width: 85%;
        height: 100%;
        position: relative;
        box-sizing: border-box;

        blockquote {
            font-size: 2.3em;
            width: 30%;
            margin-top: 17%;
            position: absolute;

            span {
                width: 100%;
                background: $secondary-color;
                display: block;
                height: 5px;
                margin-top: 20px;
            }
        }

        img {
            position: absolute;
        }

        img:nth-of-type(1) {
            width: 40%;
            right: 0;
            top: 20%;
        }
        img:nth-of-type(2) {
            width: 25%;
            right: 40%;
            top: 29%;
            margin-top: 15%;
        }

        #box {
            width: 100px;
            height: 100px;
            position: absolute;
            border: 5px solid $accent-color;
            margin: auto;
            top: 0; left: 0; bottom: 0; right: 0;
        }
    }

}

section#services {
    padding: 20px 10%;
    background: url('./images/assets/hair-salon.jpeg') no-repeat fixed center center/cover;

    h1{
        margin-bottom: 40px;
        padding: 30px;
        color: $accent-color;
        background-color: rgba($primary-color, 0.9);
        border-bottom: 10px solid $secondary-color;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px;

        @include mediaMd {
                //change services grid
            grid-template-columns: repeat(2, 1fr);
        }
        @include mediaSm {
            grid-template-columns: repeat(1, 1fr);
        }

        .service {
            padding: 6px;
            background-color: rgba($accent-color, 0.8);
            color: $secondary-color;
            border-bottom: 10px solid $secondary-color;
        }
    }
}

section#galleries {
    color: $secondary-color;
    min-height: 100vh;

    .galleries {
        margin: 20px;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;

        .gallery-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 80%;
            @include mediaMd {
                flex-direction: column;
                width: 90%;
            }
            @include mediaSm {
                flex-direction: column;
                width: 90%;

                img#current {
                    margin: 35px 0;
                }
            }

            img {
                width: 100%;
            }

            .gallery-main-img {
                margin-right: 20px;
                padding: 0;
                width: 30%;

                @include mediaMd {
                    width: 80%;
                }
                @include mediaSm {
                    width: 100%;
                }
                
                img {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
                }
            }
            .gallery-imgs{
                width: 55%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 15px;
                // @include mediaMd {
                //     grid-template-columns: repeat(3, 1fr);
                // }
                // @include mediaSm {
                //     grid-template-columns: repeat(3, 1fr);
                // }

                img:hover {
                    cursor: pointer;
                }
            }

        }
    }


}

section#contact {
    background-color: #333;
    color: $accent-color;

    .contact-form {
        width: 50%;
        display: grid;
        grid-template: 
            'top1 top2'
            'two1 two2'
            'bot bot'
            'bot bot'
            'bot bot'
            'bot bot'
            'but but';

        #firstName {
            grid-area: top1;
        }
        #lastName {
            grid-area: top2;
        }
        #phone {
            grid-area: two1;
        }
        #email {
            grid-area: two2;
        }
        #message {
            grid-area: bot;
        }
        #button {
            grid-area: but;
        }
    }

    
    .gmap {
        margin: 20px 0 40px 0;
        padding: 35px 6px;
        color: $primary-color;
        // background-color: rgba($secondary-color, 0.75)
    }
}

footer {
    width: 100%;
    padding: 12px;
    border: 4px solid $primary-color;
    background-color: $accent-color;
    color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        margin: 0;
    }
}