section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
}

section h2 {
  font-size: 3rem;
}

section p {
  font-size: 1.5rem;
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-130%);
            transform: translateX(-130%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-130%);
            transform: translateX(-130%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease-in 1 forwards;
          animation: fadeIn 0.5s ease-in 1 forwards;
}

.menu-btn {
  position: fixed;
  z-index: 3;
  right: 30px;
  top: 25px;
  cursor: pointer;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #290057;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

@media screen and (min-width: 926px) {
  .menu-btn {
    display: none;
  }
  .navbar-branding {
    display: none;
  }
}

@media screen and (min-width: 462px) and (max-width: 925px) {
  .menu-btn {
    visibility: visible;
  }
  .navbar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-branding, .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  .navbar-nav {
    margin: 0;
    padding: 0;
    width: 50%;
    background: #f0d7a6;
    list-style: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  .navbar-nav .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-nav.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .navbar-branding {
    background: #f0d7a6;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  .navbar-branding-line {
    height: 100%;
    width: 4px;
    position: absolute;
    background: #290057;
  }
  .navbar-branding .brand-logo {
    height: 200px;
    width: 200px;
    position: absolute;
    border: 4px solid #290057;
    border-radius: 50%;
    background: #f0d7a6;
    background-image: url("./images/becky3.jpeg");
    background-position: center;
    background-size: cover;
  }
  .navbar-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .navbar .nav-item {
    -webkit-transform: translate3d(600px, 0, 0);
            transform: translate3d(600px, 0, 0);
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  .navbar .nav-item.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .navbar .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #f70f92;
    text-decoration: none;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  .nav-item:nth-child(1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .nav-item:nth-child(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .nav-item:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .nav-item:nth-child(4) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .nav-item:nth-child(5) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
}

@media screen and (max-width: 461px) {
  .menu-btn {
    visibility: visible;
  }
  .navbar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-branding, .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  .navbar-nav {
    margin: 0;
    padding: 0;
    width: 50%;
    background: #f0d7a6;
    list-style: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  .navbar-nav .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-nav.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .navbar-branding {
    background: #f0d7a6;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  .navbar-branding-line {
    height: 100%;
    width: 4px;
    position: absolute;
    background: #290057;
  }
  .navbar-branding .brand-logo {
    height: 200px;
    width: 200px;
    position: absolute;
    border: 4px solid #290057;
    border-radius: 50%;
    background: #f0d7a6;
    background-image: url("./images/becky3.jpeg");
    background-position: center;
    background-size: cover;
  }
  .navbar-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .navbar .nav-item {
    -webkit-transform: translate3d(600px, 0, 0);
            transform: translate3d(600px, 0, 0);
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  .navbar .nav-item.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .navbar .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #f70f92;
    text-decoration: none;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  .nav-item:nth-child(1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .nav-item:nth-child(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .nav-item:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .nav-item:nth-child(4) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .nav-item:nth-child(5) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
  height: 100vh;
}

body h1, body h2, body h3, body h4 {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 4px solid #f70f92;
}

.navbar-nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-nav .nav-items li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar-nav .nav-items li a {
  color: #290057;
}

.navbar-nav .nav-items li a:hover {
  padding: 0.5rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  color: #290057;
  background-color: #f70f92;
}

.navbar-nav .nav-items li.active a {
  padding: 0.5rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
  color: #290057;
  background-color: #f70f92;
}

section#home {
  background: url("./images/assets/3px-tile.png") repeat center;
  background-color: #f70f92;
}

section#home .welcome {
  background: url("./images/assets/3px-tile.png") no-repeat center center/cover;
  max-width: 80%;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #f0d7a6;
  -webkit-animation: 1s ease-out 0s 1 slideInFromLeft;
          animation: 1s ease-out 0s 1 slideInFromLeft;
}

section#home .welcome.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

section#home .welcome .home-img {
  height: 350px;
  width: 350px;
  border: 10px solid #f0d7a6;
  border-radius: 50%;
}

section#home .welcome .welcome-msg {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

section#home .welcome .welcome-msg .social-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

section#home .welcome .welcome-msg .social-links a {
  color: #f0d7a6;
}

section#home .welcome .welcome-msg .social-links a:hover {
  color: #290057;
}

section#home .welcome .welcome-msg .social-links i {
  font-size: 3.3rem;
}

section#home .welcome .welcome-msg .social-links i:hover {
  cursor: pointer;
}

section#about {
  height: 100vh;
}

section#about .about-content {
  padding: 3px;
  width: 85%;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section#about .about-content blockquote {
  font-size: 2.3em;
  width: 30%;
  margin-top: 17%;
  position: absolute;
}

section#about .about-content blockquote span {
  width: 100%;
  background: #290057;
  display: block;
  height: 5px;
  margin-top: 20px;
}

section#about .about-content img {
  position: absolute;
}

section#about .about-content img:nth-of-type(1) {
  width: 40%;
  right: 0;
  top: 20%;
}

section#about .about-content img:nth-of-type(2) {
  width: 25%;
  right: 40%;
  top: 29%;
  margin-top: 15%;
}

section#about .about-content #box {
  width: 100px;
  height: 100px;
  position: absolute;
  border: 5px solid #f0d7a6;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

section#services {
  padding: 20px 10%;
  background: url("./images/assets/hair-salon.jpeg") no-repeat fixed center center/cover;
}

section#services h1 {
  margin-bottom: 40px;
  padding: 30px;
  color: #f0d7a6;
  background-color: rgba(247, 15, 146, 0.9);
  border-bottom: 10px solid #290057;
}

section#services h2 {
  font-size: 2rem;
}

section#services p {
  font-size: 1.2rem;
}

section#services .services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

@media screen and (min-width: 462px) and (max-width: 925px) {
  section#services .services {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 461px) {
  section#services .services {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

section#services .services .service {
  padding: 6px;
  background-color: rgba(240, 215, 166, 0.8);
  color: #290057;
  border-bottom: 10px solid #290057;
}

section#galleries {
  color: #290057;
  min-height: 100vh;
}

section#galleries .galleries {
  margin: 20px;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#galleries .galleries .gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

@media screen and (min-width: 462px) and (max-width: 925px) {
  section#galleries .galleries .gallery-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

section#galleries .galleries .gallery-container img {
  width: 100%;
}

section#galleries .galleries .gallery-container .gallery-main-img {
  margin-right: 20px;
  padding: 0;
  width: 30%;
}

section#galleries .galleries .gallery-container .gallery-main-img img {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

section#galleries .galleries .gallery-container .gallery-imgs {
  width: 55%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

@media screen and (min-width: 462px) and (max-width: 925px) {
  section#galleries .galleries .gallery-container .gallery-imgs {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

section#galleries .galleries .gallery-container .gallery-imgs img:hover {
  cursor: pointer;
}

section#contact {
  background-color: #333;
  color: #f0d7a6;
}

section#contact .contact-form {
  width: 50%;
  display: -ms-grid;
  display: grid;
  grid-template: 'top1 top2' 'two1 two2' 'bot bot' 'bot bot' 'bot bot' 'bot bot' 'but but';
}

section#contact .contact-form #firstName {
  grid-area: top1;
}

section#contact .contact-form #lastName {
  grid-area: top2;
}

section#contact .contact-form #phone {
  grid-area: two1;
}

section#contact .contact-form #email {
  grid-area: two2;
}

section#contact .contact-form #message {
  grid-area: bot;
}

section#contact .contact-form #button {
  grid-area: but;
}

section#contact .gmap {
  margin: 20px 0 40px 0;
  padding: 35px 6px;
  color: #f70f92;
}

footer {
  width: 100%;
  padding: 12px;
  border: 4px solid #f70f92;
  background-color: #f0d7a6;
  color: #f70f92;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer p {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */